/*@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);*/

/* layout */
/*#wrap {width : 100%; text-align: center; background-color: #00d2ff}*/
ul {
  font-size: 16px; line-height: 20px;
}
li {
  font-size: 16px;
}
br {
  line-height: 200%;
}

#wrap {width: 800px; height: 100%; margin: 0 auto; text-align: center; }
#header {width : 100%; height: 400px; font-size: 40px;  background-color: #fff;} /*font-family: 'Spoqa Han Sans';*/
.big-paragraph {
  font-size: 21px;
  margin : 50px;
}
#side1 {float: left; width: 30%; height: 300px; line-height: 200%; font-size: 20px; text-align: left; background-color: #fff; border-top:1px solid #888;}
#side2 {float: left; width: 30%; height: 300px; line-height: 200%; font-size: 20px; text-align: left; background-color: #fff; border-top:1px solid #888;}
#side3 {float: left; width: 30%; height: 250px; line-height: 200%; font-size: 20px; text-align: left; background-color: #fff; border-top:1px solid #888;}
#side4 {float: left; width: 30%; height: 150px; line-height: 200%; font-size: 20px; text-align: left; background-color: #fff; border-top:1px solid #888;}
#SKILLS {float: left; width: 70%; height: 300px; line-height: 200%; text-align: left; background-color: #fff; border-top:1px solid #888;}
#EXPERIENCE {float: left; width: 70%; height: 300px; line-height: 200%; text-align: left; background-color: #fff; border-top:1px solid #888;}
#CERTIFICATION {float: left; width: 70%; height: 250px; line-height: 200%; text-align: left; background-color: #fff; border-top:1px solid #888;}
#EDUCATION {float: left; ; width: 70%; height: 200px; line-height: 200%; text-align: left; background-color: #fff; border-top:1px solid #888;}

#footer {float: left; padding: 10px; width : 100%; height: 200px; text-align: left; background-color: #fff; border-top:2px solid #888;}

/*body {background: #c8e6c9;}
#wrap {width: 1000px; height: 900px; margin: 0 auto; color: #fff; font-size: 40px; text-align: center;}
#header {width: 1000px; height: 100px; line-height: 100px; background: #2e7d32;}
/*#nav {width: 1000px; height: 100px; line-height: 100px; background: #388e3c; }
#side1 {float: left; width: 300px; height: 600px; line-height: 600px; background: #43a047;}
#side2 {float: left; width: 300px; height: 600px; line-height: 600px; background: #43a067;}
#side3 {float: left; width: 300px; height: 600px; line-height: 600px; background: #43a087;}
#side4 {float: left; width: 300px; height: 600px; line-height: 600px; background: #43a099;}
#OBJECTIVE {float: left; width: 700px; height: 600px; line-height: 600px; background: #4caf50;}
#SKILLS {float: left; width: 700px; height: 600px; line-height: 600px; background: #4caf70;}
#EXPERIENCE {float: left; width: 700px; height: 600px; line-height: 600px; background: #4caf90;}
#EDUCATION {float: left; width: 700px; height: 600px; line-height: 600px; background: #4caf99;}
#footer {float: left; width: 1000px; height: 100px; line-height: 100px; background: #66bb6a;}*/
